.container-cards-pjs {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
  align-items: flex-start;
  color: #f5f5f5;
}

.dimension-name {
  width: 100%;
}