.card-pj {
  width: 260px;
  border-radius: 10px;
  border: 1px solid #f5f5f5;
  margin: 15px 20px;
  transition: 0.5s;
}

.card-pj:hover {
  box-shadow: 0px 0px 10px 10px #76c89360;
}

.image-pj {
  width: 90%;
  margin: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.text-pj {
  margin: 5px;
}